.app {
    max-width: 1440px; 
    height: 100%; 
    margin: 0 auto; 
}

.btn {
    font-family: "Quicksand", sans-serif; 
    padding: 13px 18px; 
    border: none; 
    line-height: 1em; 
    letter-spacing: .13em; 
    font-size: 11px; 
    text-transform: uppercase; 
    cursor: pointer; 
    margin: 20px 0; 
}

.btn a {
    color: var(--rich-black); 
    text-decoration: none; 
}