@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&family=Saira+Semi+Condensed:wght@100;200;300;400&family=Yrsa:wght@300;400&family=Square+Peg&family=Prata&display=swap');

:root {
  /* Palette Colors */
  --raisin-black: #191c26; 
  --rich-black: #111319; 
  --cadet-blue-crayola: #a9afc3; 
  --han-purple: #4831d2; 
  --fuzzy-wuzzy: #de6868; 
  --ny-pink: #e89494; 
  --maximum-blue: #63a3bb; 
  --languid-lavender: #d2c7d5; 
  --alice-blue: #f4f9fc; 
  --alice-blue-matte: #edf2f8; 
  --prussian-blue: #10345c; 
  --bottle-green: #006241; 
  --baby-pink: #f5cac3; 
}

body {
  background-color: var(--rich-black); 
  color: var(--alice-blue); 
  box-sizing: border-box; 
  padding: 0; 
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}