.bookCover img{
    width: 250px; 
    margin: 15px 0; 
}

.bookCover a {
    text-decoration: none; 
    color: var(--alice-white); 
    display: inline-block; 
}

.bookCover p {
    font-size: 14px;  
}

.bookCover span {
    font-size: 12px; 
    font-style: italic; 
}