.menu {
    width: 100vw; 
    height: 170px; 
    background-color: var(--raisin-black); 
    position: fixed; 
    top: 65px; 
    left: -100vw; 
    z-index: 1; 
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
    transition: all 0.8s ease-in-out; 
}

.menu ul {
    padding: 0; 
    text-align: center; 
    list-style: none; 
}

.menu ul li {
    margin: 20px; 
}

.menu ul li a {
    font-family: "Poppins", sans-serif; 
    font-weight: 200; 
    font-size: 14px; 
    color: inherit; 
    text-decoration: none; 
}

.active {
    left: 0; 
}